 .u-section-1 {
  background-image: url("images/gamingbanner.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  margin: 367px 150px 60px 270px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 50px;
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 473px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-1 {
  padding: 8px 14px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 26px 16px 0;
}

.u-section-2 .u-image-1 {
  width: 269px;
  height: 136px;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -2px 30px 0;
}

.u-section-2 .u-image-2 {
  width: 273px;
  height: 136px;
  margin: 24px 38px 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  margin: 40px 103px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 25px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 5px;
}

.u-section-2 .u-image-3 {
  width: 241px;
  height: 136px;
  margin: 42px auto 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 400;
  background-image: none;
  margin: 40px auto 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 65px;
  width: 870px;
  margin: -433px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 265px;
    height: 134px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 37px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 332px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 192px;
    height: 97px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 220px;
    height: 110px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    width: 169px;
    height: 95px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
}